doctype html
html
	include common/header.pug  

	body
  

	title #{title}

	.container
		.row.justify-content-md-center
			.col-md-6
				form(action='/cadastro/add', method='post')
					h1.mt-3 Novo Cadastro
					|         Nome: 
					input.mb-1.form-control(type='text', name='nome',placeholder='Digite seu nome')
					|         Idade: 
					input.mb-3.form-control(type='text', name='idade', placeholder='Digite sua idade')
					input.btn.btn-primary.mr-1(type='submit', value='Salvar')

					a.btn.btn-primary(href="/") Voltar